<app-dashboard-header class="row mt-4 pt-4"></app-dashboard-header>
<div class="row">
    <app-dashboard-balance class="col-6"></app-dashboard-balance>
    <app-dashboard-doughnut class="col-6"></app-dashboard-doughnut>
</div>
<div class="row">
    <app-dashboard-line-chart class="offset-sm-1 col-sm-3 pr-0"></app-dashboard-line-chart>
    <app-dashboard-line-chart class="col-sm-3 pr-0 margin-between-card"></app-dashboard-line-chart>
    <app-dashboard-line-chart class="col-sm-3 pr-0 margin-between-card"></app-dashboard-line-chart>
</div>
<div class="row mb-5">
    <app-dashboard-candle class="offset-1 col-5"></app-dashboard-candle>
    <app-dashboard-transaction class="col-5"></app-dashboard-transaction>
</div>

