<div class="row mt-3 pl-2">
    <div class="bg-white col-10 rounded p-0">
        <div class="row">
            <div class="col-6">
                <div class="chart-center-text text-muted font-weight-bold">$25,200.97</div>
                <canvas id="doughnutChart" height="400px" class="ml-3" title="Used Chart.js"></canvas>
            </div>
            <div class="col-6 pl-5">
                <div class="mt-3">
                    <div class="circle bg-primary d-inline-block"></div>
                    <span class="text-muted font-weight-bold"> Bitcoin</span>
                    <div class="ml-2 mt-1 font-size-16 font-weight-bold">$11,567.00</div>
                </div>
                <div class="mt-3">
                    <div class="circle bg-secondary d-inline-block"></div>
                    <span class="text-muted font-weight-bold"> Ethereum</span>
                    <div class="ml-2 mt-1 font-size-16 font-weight-bold">$5,583.00</div>
                </div>
                <div class="mt-3">
                    <div class="circle bg-light d-inline-block"></div>
                    <span class="text-muted font-weight-bold"> Monero</span>
                    <div class="ml-2 mt-1 font-size-16 font-weight-bold">$8,050.97</div>
                </div>
            </div>
        </div>
    </div>
</div>


