img{
    width: 100px;
    border-radius: 50%;
}

.exchange-icon-position{
    top: 50px;
    left: 164px;
    z-index: 1;
}

.exchange-icon-position-bg{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    top: 45px;
    left: 160px;
    z-index: 1;
}


